.java-theme {
  --color-primary: rgb(0, 115, 150);
  --color-primary-accent: rgba(0, 115, 150, 0.9);
  --color-secondary: rgb(237, 139, 0);
  --color-secondary-accent: rgba(237, 139, 0, 0.9);
  --color-primary-button: var(--color-primary);
  --color-secondary-button: var(--color-secondary);
  --color-background: #ececec;
  --color-background-offset: #ffffff;
  --color-grey: rgb(78, 78, 78);
  --color-dark-text: #000000;
  --color-light-text: var(--color-background);
  --color-h1: var(--color-primary);
  --color-primary-button-text: var(--color-background);
  --color-secondary-button-text: var(--color-dark-text);  
}
