#dashboard .white-block {
  /* border-radius: 12px; */
  box-shadow: 1px 1px 4.5px #bbb;
  background: white;
  /* padding: 18px; */
  /* display: inline-block; */
  /* width: 49%; */
  /* margin-right: 1%; */
  /* vertical-align: top; */
  margin-bottom: 21px;
}
#dashboard .white-block .block-content {
  padding: 18px;
}
#dashboard .white-block h3 {
  border-bottom: 1px solid #bbb;
  padding: 18px;
}