.oauth-images {
  margin-bottom: 21px;
}
.oauth-images img {
  height: 120px;
  width: 120px;
}
.oauth-images img:first-child {
  margin-right: 30px;
}
#github .well {
  border-radius: 6px;
  background-color: #eee;
  padding: 21px;
  margin-top: 21px;
}