:root {
  --color-primary: #3774a7;
  --color-primary-accent: rgba(55, 116, 167, 0.9);
  --color-secondary: #ffd849;
  --color-secondary-accent: #f3c600;
  --color-primary-button: var(--color-primary);
  --color-secondary-button: var(--color-secondary);
  --color-background: #ececec;
  --color-background-offset: #ffffff;
  --color-grey: rgb(78, 78, 78);
  --color-light-grey: rgb(240, 240, 240);
  --color-dark-text: #000000;
  --color-light-text: var(--color-background);
  --color-h1: var(--color-primary);
  --color-primary-button-text: var(--color-background);
  --color-secondary-button-text: var(--color-dark-text);

  /**
   * Upload status rows
   */
  --color-file-status-bg-success: #f1f1f1;
  --color-file-status-bg-error: #f1f1f1;
  --color-file-status-bg-info: #f1f1f1;
  --color-file-status-text-success: #1c560a;
  --color-file-status-text-error: #82170d;
  --color-file-status-text-info: #3d3d3d;
  
}
