#pricing {
  --block-min-height: 102px;
}

#pricing .white-block {
  display: block;
}

@media (min-width: 768px) {
  #pricing .white-block {
    width: 49%;
    display: inline-block;
    vertical-align: top;
    margin-right: 1%;
  }
  #pricing .white-block .block-content p {
      min-height: var(--block-min-height);
  }
}